@charset "UTF-8";
/* CSS Document */

.container-fluid{
	
}


#jumbo{
	background-color: #3067a4;
}

#jumbo h1{
	color: #fef4e5;
}

#jumbo p{
	color: #fef4e5;
	font-size: 1.5rem;
}

.tweet{
	padding: 0;
	margin: 0;
	font-size: 2rem;
}

.my-4{
	color: black;
}

.webinar{
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 5px;
	border: 2px solid black;
	border-radius: 20px;
	margin-bottom: 10px;
}

.listing p{
	padding: 0;
	margin: 0;
	font-size: 1.25rem;
}

a{
	color: blue;
}

table.tweet{
	margin-left:auto;
	margin-right:auto;
}

tr td{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px; 
}